<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Layout</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <table>
        <!-- 1 row -->
        <tr style="background-color: azure;">
            <td colspan="2" style="padding: 10px 20px; background-color: #acb3b9; text-align: center;">
                <h1>ReanCode</h1>
            </td>
        </tr>
        <!-- 2 row -->

        <tr style="height: 170px;">
            <td style="width: 25%d; padding: 20px; line-height: 24px; vertical-align: top;  background-color: #d4d7dc;">
                <ul style="list-style: none; padding: 0px;">
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Blog</a>
                    </li>
                    <li>
                        <a href="">About Us</a>
                    </li>
                    
                </ul>
            </td>
            <td style="width: 75%; padding: 10px 20px;">
                <h2>
                    Welcome to Reancode
                </h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum consequuntur perferendis dolore in
                    perspiciatis odio expedita error? Esse eum quisquam illum dicta similique sit atque labore et!
                    Commodi, excepturi ut?
                </p>
            </td>
        </tr>

        <!-- 3 row -->

        <tr>
            <td colspan="2" style="background-color:#acb3b9;">
                <p>copyrigth &copy; ReanCode</p>
            </td>
        </tr>
    </table>


</body>

</html>